# Alert Slider
type proc_tristatekey, fs_type, proc_type;
type proc_tp, fs_type, proc_type;

# Nodes
type sysfs_fod, sysfs_type, fs_type;
type sysfs_fingerprint_notify, sysfs_type, fs_type;
